{% extends "templates/web.html" %}
{% block styles %}
{% endblock %}


{% block content %}


{% include "havano_pos_addson/www/template-parts/general-loader.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-modal-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-popup-shifts-opening-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-popup-shifts-closing-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-payment-popup-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-header.html" %}
{% include "havano_pos_addson/www/template-parts/general.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-table-items-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-quantity-popup-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-group-items-touchui.html" %}
{% include "havano_pos_addson/www/template-parts/touch-ui/havano-pos-footer-touchui.html" %}



<script src="./static/v2/js/touchui/globals.js"></script>
<script src="./static/v2/js/touchui/dom-cache.js"></script>
<script src="./static/v2/js/touchui/ui.js"></script>
<script src="./static/v2/js/touchui/quantity-popup.js"></script>
<script src="./static/v2/js/touchui/data.js"></script>
<script src="./static/v2/js/touchui/item-groups.js"></script>
<script src="./static/v2/js/touchui/search.js"></script>
<script src="./static/v2/js/touchui/navigation.js"></script>
<script src="./static/v2/js/touchui/events.js"></script>
<script src="./static/v2/js/touchui/invoice.js" ></script>
<script src="./static/v2/js/touchui/main.js"></script>
<script src="./static/v2/js/checkshiftsstatus.js"></script>
<script src="./static/v2/js/setshiftsstatus.js" defer></script>
<script src="./static/v2/js/touchui/handlepayment.js" defer></script>
<script src="./static/v2/js/touchui/getPaymentModes.js" defer></script>


{% endblock %}