{% extends "templates/web.html" %}
{% block styles %}
{% endblock %}


{% block content %}
{% include "havano_pos_addson/www/template-parts/general-loader.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-modal-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-popup-shifts-opening-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-popup-shifts-closing-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-payment-popup-common.html" %}
{% include "havano_pos_addson/www/template-parts/havano-pos-header.html" %}
{% include "havano_pos_addson/www/template-parts/general.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-table-items-nontouchui.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-quantity-popup-nontouchui.html" %}
{% include "havano_pos_addson/www/template-parts/non-touch-ui/havano-pos-footer-nontouchui.html" %}




<script src="./static/v2/js/nontouchui/globals.js"></script>
<script src="./static/v2/js/nontouchui/dom-cache.js"></script>
<script src="./static/v2/js/nontouchui/ui.js"></script>
<script src="./static/v2/js/nontouchui/quantity-popup.js"></script>
<script src="./static/v2/js/nontouchui/data.js"></script>
<script src="./static/v2/js/nontouchui/item-groups.js"></script>
<script src="./static/v2/js/nontouchui/search.js"></script>
<script src="./static/v2/js/nontouchui/navigation.js"></script>
<script src="./static/v2/js/nontouchui/events.js"></script>
<script src="./static/v2/js/nontouchui/invoice.js" ></script>
<script src="./static/v2/js/nontouchui/main.js"></script>
<script src="./static/v2/js/checkshiftsstatus.js"></script>
<script src="./static/v2/js/setshiftsstatus.js" defer></script>
<script src="./static/v2/js/nontouchui/handlepayment.js" defer></script>
<script src="./static/v2/js/nontouchui/getPaymentModes.js" defer></script>



 <!-- <script src="./static/v2/js/nontouchui/dom-cache.js"></script>
<script src="./static/v2/js/nontouchui/ui.js"></script>
<script src="./static/v2/js/nontouchui/data.js"></script>
<script src="./static/v2/js/nontouchui/search.js"></script>
<script src="./static/v2/js/nontouchui/invoice.js"></script>
<script src="./static/v2/js/nontouchui/navigation.js"></script>
<script src="./static/v2/js/nontouchui/events.js"></script>
<script src="./static/v2/js/nontouchui/main.js"></script> -->
{% endblock %}